.cardEmpresa {

  /* border: 1px solid #e0e0e0;
  border-radius: 12px; */
  /* padding: 20px; */
  /* OJO: Tenías 50px, lo cambié a 350px porque 50px es muy chico */
  max-width: 1600px;
  width:96%; 
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  font-family: Arial, sans-serif;
}

.imageContainer {
  max-width: 400px;
  margin-bottom: 15px;
  background-color: transparent; /* Fondo gris si no hay imagen */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  margin: 0 0 10px 0;
  color: #333;
  font-size: 1.8rem;
}

.service {
    width: 80%;
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.4;
}

.benefitBox {
    display: block;
  background-color: rgba(8, 15, 45, 0.849);
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 8px;
  width: 60%;
  margin-bottom: 15px;
  font-size: 1.2rem;
  box-sizing: border-box; /* Para que el padding no rompa el ancho */
}
/*#8d8100*/
/*#fcfde3*/
.contactSection {
  width: 60%;
  border-radius: 8px;
  background-color: #fcfde3;
  border-top: 1px solid #eee;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  font-size: 1.1rem;
  color: #585104;
}

.link {
  text-decoration: none;
  color: #585104;
  font-weight: bold;
}
.link i, .contactSection i{
    color: #585104;
}
.boton_volver{
     background-color: rgba(8, 15, 45, 0.849);
  color: rgb(255, 255, 255);
    margin: 30px 0;
    font-size: 1.1rem;
    min-width: 60%;
    padding:5px 0px;
    
    cursor: pointer;
    border-radius: 8px;
}
/* 
.service, .benefitBox{
    width: 60%;
} */

@media(max-width:768px){
 

.service, .benefitBox, .contactSection{
    width: 90%;
}      
       
}